/* ! NO MODIFICAR LOS ESTILOS EXISTENTES ANTES DE COMUNICAR AL GRUPO PARA EVITAR AFECTACIONES */

@import url('https://fonts.googleapis.com/css2?family=Krub:wght@400;500;700&display=swap');

:root {
  /* Fuente principal */
  --main-font: 'Krub', sans-serif;
  /* Configurar paleta de colores debajo */
}

html {
  box-sizing: border-box !important;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: var(--main-font);
}