.grid-container {
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)) !important;

}

/* @media (min-width: 581px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 912) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
} */

.teacher-card {
    width: 100% !important;
    display: block !important;
    border: none;
}


@media (max-width: 414px) {
    .card {
        width: 70% !important;
        margin: 0 auto !important;
        margin-bottom: 15px !important;
    }
}

.card__title {
    margin-top: 10px;
    font-size: 19px;
    text-transform: capitalize;
}

.subtitle {
    font-size: 15px;
}

.subtitle:last-of-type {
    text-decoration: underline;

}

.email {
    font-style: italic;
    margin: 0;
}

.email:first-of-type {
    margin-top: 10px;
    font-style: normal;
}

.whats {
    margin: 0;
    margin-top: 10px;
}

.callme {
    margin: 0;
    margin-top: 10px;
}

/* @media (max-width: 580px) {
    .card__image {
        width: 180px !important;
    }
} */